<div class="slider-area">
  <!-- Slider -->
  <div class="block-slider block-slider4">
    <ul class="" id="bxslider-home4">
      <li>
        <img src="../../../../assets/img/slide12.jpg" alt="Slide" />
      </li>
      <li>
        <img src="../../../../assets/img/slide15.jpg" alt="Slide" />
      </li>
      <li>
        <img src="../../../../assets/img/slide12.jpg" alt="Slide" />
      </li>
      <li>
        <img src="../../../../assets/img/slide13.jpg" alt="Slide" />
      </li>
    </ul>
  </div>
  <!-- ./Slider -->
</div>
<!-- End slider area -->
