<div class="container product-detail product-full">
    <div class="row">


        <div id="content" class="col-md-12">
            <div class="row product-view product-info">
                <div class="content-product-left  class-honizol col-md-4 col-sm-5 col-xs-12 ">
                    <div class="pd-content-box">
                        <div class="image-single-box">
                            <div class="large-image   ">
                                <img itemprop="image" class="product-image-zoom main-image"
                                    src="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-650x650.jpg"
                                    data-zoom-image="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-650x650.jpg"
                                    title-product>
                                <div class="box-label">

                                </div>
                            </div>
                        </div>
                        <div class="full_slider owl-carousel owl2-carousel owl2-theme owl2-loaded" style="padding-left: 15px;padding-right: 15px;">

                            <div class="owl2-stage-outer">
                                <div class="owl2-stage"
                                    style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 330.668px;">
                                    <div class="owl2-item active" style="width: 72.667px; margin-right: 10px;"><a
                                            data-index="0" class="img thumbnail active"
                                            data-image="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-650x650.jpg"
                                            title="Vans UA Old Skool Tiger Floral">
                                            <img src="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-500x500.jpg"
                                                title="Vans UA Old Skool Tiger Floral"
                                                alt="Vans UA Old Skool Tiger Floral">
                                        </a></div>
                                    <div class="owl2-item active" style="width: 72.667px; margin-right: 10px;"><a
                                            data-index="1" class="img thumbnail"
                                            data-image="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-1-650x650.jpg"
                                            title="Vans UA Old Skool Tiger Floral">
                                            <img src="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-1-150x150.jpg"
                                                title="Vans UA Old Skool Tiger Floral"
                                                alt="Vans UA Old Skool Tiger Floral">
                                        </a></div>
                                    <div class="owl2-item active" style="width: 72.667px; margin-right: 10px;"><a
                                            data-index="2" class="img thumbnail"
                                            data-image="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-2-650x650.jpg"
                                            title="Vans UA Old Skool Tiger Floral">
                                            <img src="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-2-150x150.jpg"
                                                title="Vans UA Old Skool Tiger Floral"
                                                alt="Vans UA Old Skool Tiger Floral">
                                        </a></div>
                                    <div class="owl2-item" style="width: 72.667px; margin-right: 10px;"><a
                                            data-index="3" class="img thumbnail"
                                            data-image="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-3-650x650.jpg"
                                            title="Vans UA Old Skool Tiger Floral">
                                            <img src="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-3-150x150.jpg"
                                                title="Vans UA Old Skool Tiger Floral"
                                                alt="Vans UA Old Skool Tiger Floral">
                                        </a></div>
                                </div>
                            </div>
                            
                        </div>
                      
                    </div>
                </div>


                <div class="content-product-right  col-md-8 col-sm-7 col-xs-12">
                    <div  class="pd-content-box">
                        <div *ngFor="let i of sanpham"  class="title-product">
                            <h1>{{i.ten_san_pham}}</h1>
                        </div>
                        <!-- Review ---->
                        <div class="box-review">
 
                        </div>
                        <div class="desc-price">
                            <div  class="product-desc">
                                <div class="stock hidden"><span> Kho hàng : </span> Còn hàng </div>
                                <div class="brand hidden"><span>Nhà sản xuất:</span><a
                                        href="https://drake.vn/brand-vans -oldskool-authentic-classic-era-sneaker-slip-on-sk8-sk8hi-anaheimfactory-kid">Vans</a>
                                </div>
                                <div class="model hidden"><span>Mã số:</span></div>

                               
                                <div class="metarial"><span>Chất liệu: </span> Textile/Suede</div>
                               
                            </div>

                            <div class="price-stock">

                                <!--Countdown box-->

                                <div class="countdown_box">
                                    <div class="countdown_inner">
                                        <div class="title ">Giới hạn khuyến mãi</div>
                                        <script type="text/javascript">
                                            $(function () {
                                                var austDay = new Date(2020, 11 - 1, 29, 23, 59, 5);
                                                $('.defaultCountdown-3166').countdown(austDay, function (event) {
                                                    var $this = $(this).html(event.strftime(''
                                                        + '<div class="time-item time-day"><div class="num-time">%D</div><div class="name-time">Ngày </div></div>'
                                                        + '<div class="time-item time-hour"><div class="num-time">%H</div><div class="name-time">Giờ </div></div>'
                                                        + '<div class="time-item time-min"><div class="num-time">%M</div><div class="name-time">Phút </div></div>'
                                                        + '<div class="time-item time-sec"><div class="num-time">%S</div><div class="name-time">Giây </div></div>'));
                                                });


                                            });
                                        </script>
                                        
                                    </div>

                                </div>



                                <!--End countdown box-->
                                <div class="product_page_price price" itemprop="offerDetails" itemscope=""
                                    itemtype="http://data-vocabulary.org/Offer">
                                    <span *ngFor="let i of sanpham" class="price-new">
                                        <span class="tprice">Sale price: </span>
                                        <span itemprop="price" id="price-old">{{i.gia_ban}}đ</span>
                                    </span>
                                    <div *ngFor="let i of sanpham" class="rprice">
                                        <span class="tprice">Drake Price: </span>
                                        <span class="price-old">{{i.gia_ban}}đ</span>
                                    </div>


                                </div>
                                <div class="promo-text">
                                    <p>MIỄN PHÍ VẬN CHUYỂN TOÀN QUỐC KHI ĐẶT HÀNG ONLINE</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>


                        <div class="short-description">
                            Không phụ lòng mong mỏi của các fan, lần này Vans lại cho ra mắt BST mới với họa tiết Tiger
                            Floral bắt mắt. Sự kết hợp độc đáo của hai họa tiết “Hoa” và “Hổ” tưởng chừng như không liên
                            quan lại làm nên một tổ hợp cực kì ăn ý và hài hòa. Kỹ thuật in Allover với công nghệ hiện
                            đại đã giúp thành quả sáng tạo của các nhà thiết kế đến gần hơn với công chúng. </div>
                        <div id="product">
                            <div class="option-box">
                                <div class="options">
                                    <div class="option-item">
                                        <div class="form-group required">
                                            <div  class="select-box">
                                                <select  name="option[5883]" id="input-option5883" class="form-control"
                                                    style="font-weight: bold;">
                                                    <option value="">CHỌN MÀU SIZE</option>
                                                    <option *ngFor="let dactrung of dactrungsanpham" value="27647">
                                                       {{dactrung.ten_dac_trung}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="option-item">
                                        <div class="form-group hide">
                                            <label class="control-label">Màu sắc</label>
                                            <div id="input-option5882">
                                                <div class="radio option_image radio-type-button">
                                                    <label>
                                                        <input type="radio" name="option[5882]" value="27635">


                                                        <span class="option-content-box">
                                                            <img src="https://drake.vn/image/cache/catalog/Other/bang-mau/cach-chuan-mau-sac-trong-in-an-02-20x20.jpg"
                                                                alt="Multi" class="img-thumbnail">
                                                            <span class="option-name">Multi</span>
                                                        </span>
                                                    </label>
                                                </div>

                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $('#input-option5882').on('click', 'span', function () {
                                                            $('#input-option5882 span').removeClass("active");
                                                            $(this).addClass("active");
                                                        });
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="huongdanchonsize"><a target="_blank"
                                    href="https://drake.vn/huong-dan-cach-do-size-giay"><i
                                        class="fa fa-question-circle"></i> Hướng dẫn chọn size</a></span>
                                        <form action="" class="cart">
                                            <div class="quantity">
                                                <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                            </div>
                                            <button class="add_to_cart_button" type="submit">Add to cart</button>
                                        </form> 
                            <div class="modal fade" id="popupchonsize" tabindex="-1" role="dialog"
                                aria-labelledby="popupchonsize" aria-hidden="true"
                                style="opacity: 1; overflow: visible;">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Hướng dẫn chọn size</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li>
                                                    <b>Hướng dẫn chọn size Converse</b>
                                                    <iframe width="450" height="250"
                                                        src="https://www.youtube.com/embed/3Al7Hd8Kbo0" frameborder="0"
                                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen=""></iframe>
                                                </li>
                                                <li>
                                                    <b>Hướng dẫn chọn size Vans</b>
                                                    <iframe width="450" height="250"
                                                        src="https://www.youtube.com/embed/Jw31XOTF1gY" frameborder="0"
                                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen=""></iframe>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="document">
                            </div>

                            <div class="feedback">
                                <div class="titlebox">
                                    <h3>See more</h3>
                                </div>
                                <div class="feedback-box">
                                    <div class="fb-list gallery owl2-carousel owl2-theme owl2-loaded">

                                        <div class="owl2-stage-outer">
                                            <div class="owl2-stage"
                                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 528.335px;">
                                                <div class="owl2-item active"
                                                    style="width: 100.667px; margin-right: 5px;">
                                                    <div class="item">
                                                        <a
                                                            href="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-8-410x574.jpg">
                                                            <img
                                                                src="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-8-200x280.jpg">
                                                        </a>
                                                        
                                                    </div>
                                                </div>
                                                <div class="owl2-item active"
                                                    style="width: 100.667px; margin-right: 5px;">
                                                    <div class="item">
                                                        <a
                                                            href="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-9-410x574.jpg">
                                                            <img
                                                                src="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-9-200x280.jpg">
                                                        </a>
                                                        
                                                    </div>
                                                </div>
                                                <div class="owl2-item active"
                                                    style="width: 100.667px; margin-right: 5px;">
                                                    <div class="item">
                                                        <a
                                                            href="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-7-410x574.jpg">
                                                            <img
                                                                src="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-7-200x280.jpg">
                                                        </a>
                                                        
                                                    </div>
                                                </div>
                                                <div class="owl2-item" style="width: 100.667px; margin-right: 5px;">
                                                    <div class="item">
                                                        <a
                                                            href="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-5-410x574.jpg">
                                                            <img
                                                                src="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-5-200x280.jpg">
                                                        </a>
                                                        
                                                    </div>
                                                </div>
                                                <div class="owl2-item" style="width: 100.667px; margin-right: 5px;">
                                                    <div class="item">
                                                        <a
                                                            href="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-6-410x574.jpg">
                                                            <img
                                                                src="https://drake.vn/image/cache/catalog/Vans/SNEAKERS%202/VN0A38G119M/VN0A38G119M-6-200x280.jpg">
                                                        </a>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>

                            <div id="khuyenmai">
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="pd-tab">
                        <ul class="nav nav-tabs">
                            
                            <li><a href="#tab-description" data-toggle="tab">Mô tả</a></li>
                            <li><a href="#tab-review" data-toggle="tab">Đánh giá</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-specification">
                                <div class="description-box wbc-height">
                                    <div class="description-content">
                                        
                                        

                                        

                                        

                                       

                                        <p style="text-align:justify"><span style="line-height:1.5">Còn riêng về đôi
                                                giày <a href="https://drake.vn/vans/vans-slip-on">Vans Slip-On</a>, kiểu
                                                dáng giày lười đầy tiện dụng mỗi khi mang tháo sẽ giúp bạn tiết kiệm
                                                được khối thời gian khi rút ngắn được các bước mang giày thông thường.
                                                Bỏ qua thiết kế cột dây nhưng phần thân giày cũng rất co dãn, đảm bảo độ
                                                fit chân cần thiết mỗi khi mang, cho cảm giác vừa vặn thoải mái. Cổ giày
                                                được đệm lót êm ái, hỗ trợ tối đa cho đôi chân trong mọi chuyển
                                                động.</span></p>

                                        <p style="text-align:center"><span style="line-height:1.5"><img
                                                    alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                                    src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-07.jpg"></span>
                                        </p>

                                        <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                                    tầm</em></span></p>

                                        <p style="text-align:justify"><span style="line-height:1.5">Mẫu giày cuối cùng
                                                trong BST là Vans Authentic với thiết kế cột dây cổ điển. Giày gồm có
                                                khoen eyelets được làm từ kim loại, phủ một màu sơn sáng bóng cho độ bền
                                                cao hơn. Authentic là dòng giày đầu tiên của nhà Vans được biết đến với
                                                tên gọi Vans #44, đến nay vẫn là một trong những key-shoes được đông đảo
                                                công chúng lựa chọn. Cũng vì thế mà trong nhiều BST, Vans đã mang kiểu
                                                dáng Authentic này vào để tôn vinh những giá trị truyền thống của
                                                hãng.</span></p>

                                        <p style="text-align:center"><span style="line-height:1.5"><img
                                                    alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                                    src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-09.jpg"></span>
                                        </p>

                                        <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                                    tầm</em></span></p>

                                        <p style="text-align:justify"><span style="line-height:1.5">Ngoài những khác
                                                biệt trong kiểu dáng, nhìn chung 3 mẫu giày trong BST đều có những đặc
                                                điểm chung về cấu tạo. Chiếc áo họa tiết Tiger Floral được công nghệ in
                                                màu hiện đại phủ lên phần upper một cách đầy bắt mắt. Đế giày làm bằng
                                                cao su bền chắc với độ dày dặn cần thiết cho bạn an tâm mỗi khi di
                                                chuyển hay vận động thể thao. Một đôi giày sneakers được thiết kế và gia
                                                công tỉ mỉ trong từng đường nét sẽ hỗ trợ tối đa cho bạn trong các hoạt
                                                động hàng ngày như đi học, đi làm hay đi du lịch.</span></p>

                                        <p style="text-align:center"><span style="line-height:1.5"><img
                                                    alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                                    src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-06.jpg"></span>
                                        </p>

                                        <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                                    tầm</em></span></p>

                                        <p style="text-align:justify"><span style="line-height:1.5">Không thể bỏ qua kết
                                                cấu bên trong khi nhắc đến các dòng giày của Vans. Bộ đệm lót Classic
                                                được Vans sử dụng nhiều nhất trong các BST sẽ mang lại cảm giác êm ái và
                                                thoải mái cho bạn, với độ đàn hồi và chịu lực tốt. Thiết kế bắt mắt,
                                                sáng tạo và đầy tính nghệ thuật, kết hợp với cấu tạo đầy tính tiện nghi
                                                của đôi giày Vans là những điều mà ta có thể dùng để hình dung một cách
                                                trọn vẹn nhất về BST Vans Tiger Floral này.</span></p>

                                        <p style="text-align:center"><span style="line-height:1.5"><img
                                                    alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                                    src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-03.jpg"></span>
                                        </p>

                                        <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                                    tầm</em></span></p>

                                        <p style="text-align:justify"><span style="line-height:1.5">Một đôi giày Vans
                                                Tiger Floral thật phong cách sẽ cho bạn vẻ ngoài đầy cuốn hút để có thể
                                                tự tin xuống phố cùng bè bạn. Phải công nhận một điều là đội ngũ thiết
                                                kế của nhà Vans đã hoạt động hết công suất khi trong một thời gian ngắn
                                                đã cho ra không biết bao nhiêu BST mới mà thiết kế nào cũng đầy tính
                                                sáng tạo và bắt kịp sự thay đổi của làn sóng thời trang trong năm qua.
                                                Tin chắc trong thời gian tới, BST Vans Tiger Floral sẽ còn khuấy đảo
                                                cộng đồng các sneakers thêm nữa.</span></p>

                                        <p style="text-align:justify"><span style="line-height:1.5">Ba mẫu giày Vans
                                                Tiger Floral đình đám hiện tại đã có mặt tại hệ thống <a
                                                    href="https://drake.vn/">Drake VN</a> để đón chào những vị khách
                                                nhanh tay nhất. Bạn có thể đến cửa hàng Drake gần nhất để trải nghiệm
                                                tận tay một em giày Vans thật ưng ý hoặc liên hệ Drake ngay để biết thêm
                                                thông tin chi tiết. Đừng bỏ qua BST cực thú vị và đậm phong cách này
                                                nhé!</span></p>
                                    </div>
                                    <div class="read-more whide">
                                        <p class="read-more-button"> Xem thêm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane  " id="tab-description">
                                <p style="text-align:justify"><span style="line-height:1.5"><strong><em>Là một trong
                                                những hãng giày hàng đầu, mỗi thiết kế của Vans đều thấm nhuần sự sáng
                                                tạo và phong cách độc đáo, mang đầy tính nghệ thuật. Mới đây, hãng giày
                                                đã trình làng BST Vans Tiger Floral, gồm những mẫu giày mang họa tiết
                                                bắt mắt, với thiết kế đậm chất nghệ thuật, đem lại sự thích thú cho các
                                                Vanslover trên khắp thế giới. BST đình đám từ khi ra mắt đã làm dấy lên
                                                một cơn sốt lớn trong cộng đồng các tín đồ sneakers và có mặt tại các
                                                cửa hàng phân phối. Cùng chiêm ngưỡng và tìm hiểu thêm một số thông tin
                                                về mẫu giày này để có cái nhìn toàn vẹn hơn nhé!</em></strong></span>
                                </p>

                                <p style="text-align:center"><span style="line-height:1.5"><img
                                            alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                            src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-04.jpg"></span>
                                </p>

                                <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                            tầm</em></span></p>

                                <p style="text-align:justify"><span style="line-height:1.5"><strong>Họa tiết Tiger
                                            Floral – Nét thú vị mới lạ mà Vans đã mang lại</strong></span></p>

                                <p style="text-align:justify"><span style="line-height:1.5">Nói một cách thật đơn giản,
                                        điểm nhấn làm nên sự khác biệt của BST mới này so với các phiên bản trước chính
                                        là họa tiết Tiger Floral đầy bắt mắt. Hiện hữu trên nên giày đen basic nhất, họa
                                        tiết là sự kết hợp của “tiger” và “floral”, tạo nên một tổ hợp thú vị và lạ mắt
                                        chưa từng có.</span></p>

                                <p style="text-align:center"><span style="line-height:1.5"><img
                                            alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                            src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-02.jpg"></span>
                                </p>

                                <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                            tầm</em></span></p>

                                <p style="text-align:justify"><span style="line-height:1.5">Họa tiết Floral gồm những
                                        bông hoa trắng nhỏ, lặp đi lặp lại phủ kín bề mặt thân giày. Hoa có 6 cánh, với
                                        kích thước rất nhỏ, thoạt nhìn khó mà hình dung được đây là loài hoa gì nhưng có
                                        lẽ đây cũng là nét độc đáo riêng tạo nên sự khác biệt cho phong cách thời trang
                                        Floral. Xu hướng Floral đã có từ lâu nhưng những năm gần đây lại nổi lên như một
                                        hiện tượng, có mắt hầu khắp trong những thiết kế xuân-hè, trên đường phố cũng
                                        như là các sàn diễn thời trang danh giá. Nhà Vans cũng đã cho ra không ít BST
                                        lấy cảm hứng từ xu hướng Floral với những họa tiết bắt mắt, nhưng đây có lẽ là
                                        lần đầu tiên họ sử dụng một họa tiết vô cùng đơn giản như thế này.</span></p>

                                <p style="text-align:center"><span style="line-height:1.5"><img
                                            alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                            src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-05.jpg"></span>
                                </p>

                                <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                            tầm</em></span></p>

                                <p style="text-align:justify"><span style="line-height:1.5">Để làm mới mà tránh sự đơn
                                        điệu trong thiết kế, họa tiết Tiger đã được thêm vào với hình ảnh những con hổ
                                        vằn màu cam nằm trên nền Floral. Hổ và Hoa là hai hình ảnh thường không đi đôi
                                        với nhau, nhưng các nhà thiết kế lại ứng dụng kết hợp một cách đầy hiệu quả và
                                        cho ra thành phẩm xứng đáng với sự mong đợi. Một tổ hợp độc đáo sẽ làm bạn không
                                        khỏi trầm trồ trước sự sáng tạo đầy phá cách, vượt khỏi những quan niệm thông
                                        thường để cho ra đời họa tiết trang trí đầy mới lạ.</span></p>

                                <p style="text-align:center"><span style="line-height:1.5"><img
                                            alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                            src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-10.jpg"></span>
                                </p>

                                <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                            tầm</em></span></p>

                                <p style="text-align:justify"><span style="line-height:1.5">Để đem đến chiếc áo mới này
                                        cho BST Vans Tiger Floral, không thể không nhắc đến công nghệ in màu hiện đại
                                        của nhà Vans. Với kỹ thuật in Allover, phủ kín họa tiết lên chất liệu làm nên
                                        thân giày, Vans đã đưa thiết kế độc đáo này tái hiện một cách hoàn hảo lên những
                                        đôi giày trong BST đình đám.</span></p>

                                <p style="text-align:center"><span style="line-height:1.5"><img
                                            alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                            src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-08.jpg"></span>
                                </p>

                                <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                            tầm</em></span></p>

                                <p style="text-align:justify"><span style="line-height:1.5"><strong>Ba mẫu giày cổ điển
                                            trong BST Vans Tiger Floral</strong></span></p>

                                <p style="text-align:justify"><span style="line-height:1.5">Những mẫu giày cổ điển nổi
                                        tiếng từ xưa đến nay của nhà <a href="https://drake.vn/vans">Vans</a> với sự
                                        khác biệt trong kiểu dáng sẽ mang đến cho bạn nhiều sự lựa chọn hơn. Đầu tiên là
                                        đôi giày Vans Old Skool với đường sidestripe đặc trưng uốn lượn dọc thân giày.
                                        Upper là sự kết hợp của chất liệu Canvas được dệt tỉ mỉ và Suede êm mịn, tăng
                                        cường độ bền bỉ và chọn bạn cảm giác thoải mái. Cổ giày với vòng đệm lót, sẽ cho
                                        bạn cảm giác êm ái hơn khi mang.</span></p>

                                <p style="text-align:center"><span style="line-height:1.5"><img
                                            alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                            src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-01.jpg"></span>
                                </p>

                                <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                            tầm</em></span></p>

                                <p style="text-align:justify"><span style="line-height:1.5">Còn riêng về đôi giày <a
                                            href="https://drake.vn/vans/vans-slip-on">Vans Slip-On</a>, kiểu dáng giày
                                        lười đầy tiện dụng mỗi khi mang tháo sẽ giúp bạn tiết kiệm được khối thời gian
                                        khi rút ngắn được các bước mang giày thông thường. Bỏ qua thiết kế cột dây nhưng
                                        phần thân giày cũng rất co dãn, đảm bảo độ fit chân cần thiết mỗi khi mang, cho
                                        cảm giác vừa vặn thoải mái. Cổ giày được đệm lót êm ái, hỗ trợ tối đa cho đôi
                                        chân trong mọi chuyển động.</span></p>

                                <p style="text-align:center"><span style="line-height:1.5"><img
                                            alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                            src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-07.jpg"></span>
                                </p>

                                <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                            tầm</em></span></p>

                                <p style="text-align:justify"><span style="line-height:1.5">Mẫu giày cuối cùng trong BST
                                        là Vans Authentic với thiết kế cột dây cổ điển. Giày gồm có khoen eyelets được
                                        làm từ kim loại, phủ một màu sơn sáng bóng cho độ bền cao hơn. Authentic là dòng
                                        giày đầu tiên của nhà Vans được biết đến với tên gọi Vans #44, đến nay vẫn là
                                        một trong những key-shoes được đông đảo công chúng lựa chọn. Cũng vì thế mà
                                        trong nhiều BST, Vans đã mang kiểu dáng Authentic này vào để tôn vinh những giá
                                        trị truyền thống của hãng.</span></p>

                                <p style="text-align:center"><span style="line-height:1.5"><img
                                            alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                            src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-09.jpg"></span>
                                </p>

                                <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                            tầm</em></span></p>

                                <p style="text-align:justify"><span style="line-height:1.5">Ngoài những khác biệt trong
                                        kiểu dáng, nhìn chung 3 mẫu giày trong BST đều có những đặc điểm chung về cấu
                                        tạo. Chiếc áo họa tiết Tiger Floral được công nghệ in màu hiện đại phủ lên phần
                                        upper một cách đầy bắt mắt. Đế giày làm bằng cao su bền chắc với độ dày dặn cần
                                        thiết cho bạn an tâm mỗi khi di chuyển hay vận động thể thao. Một đôi giày
                                        sneakers được thiết kế và gia công tỉ mỉ trong từng đường nét sẽ hỗ trợ tối đa
                                        cho bạn trong các hoạt động hàng ngày như đi học, đi làm hay đi du lịch.</span>
                                </p>

                                <p style="text-align:center"><span style="line-height:1.5"><img
                                            alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                            src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-06.jpg"></span>
                                </p>

                                <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                            tầm</em></span></p>

                                <p style="text-align:justify"><span style="line-height:1.5">Không thể bỏ qua kết cấu bên
                                        trong khi nhắc đến các dòng giày của Vans. Bộ đệm lót Classic được Vans sử dụng
                                        nhiều nhất trong các BST sẽ mang lại cảm giác êm ái và thoải mái cho bạn, với độ
                                        đàn hồi và chịu lực tốt. Thiết kế bắt mắt, sáng tạo và đầy tính nghệ thuật, kết
                                        hợp với cấu tạo đầy tính tiện nghi của đôi giày Vans là những điều mà ta có thể
                                        dùng để hình dung một cách trọn vẹn nhất về BST Vans Tiger Floral này.</span>
                                </p>

                                <p style="text-align:center"><span style="line-height:1.5"><img
                                            alt="Thích thú với họa tiết bắt mắt trong BST Vans Tiger Floral"
                                            src="https://drake.vn/image/catalog/H%C3%ACnh%20content/Vans-Tiger-Floral/vans-tiger-floral-03.jpg"></span>
                                </p>

                                <p style="text-align:center"><span style="line-height:1.5"><em>Nguồn ảnh: sưu
                                            tầm</em></span></p>

                                <p style="text-align:justify"><span style="line-height:1.5">Một đôi giày Vans Tiger
                                        Floral thật phong cách sẽ cho bạn vẻ ngoài đầy cuốn hút để có thể tự tin xuống
                                        phố cùng bè bạn. Phải công nhận một điều là đội ngũ thiết kế của nhà Vans đã
                                        hoạt động hết công suất khi trong một thời gian ngắn đã cho ra không biết bao
                                        nhiêu BST mới mà thiết kế nào cũng đầy tính sáng tạo và bắt kịp sự thay đổi của
                                        làn sóng thời trang trong năm qua. Tin chắc trong thời gian tới, BST Vans Tiger
                                        Floral sẽ còn khuấy đảo cộng đồng các sneakers thêm nữa.</span></p>

                                <p style="text-align:justify"><span style="line-height:1.5">Ba mẫu giày Vans Tiger
                                        Floral đình đám hiện tại đã có mặt tại hệ thống <a
                                            href="https://drake.vn/">Drake VN</a> để đón chào những vị khách nhanh tay
                                        nhất. Bạn có thể đến cửa hàng Drake gần nhất để trải nghiệm tận tay một em giày
                                        Vans thật ưng ý hoặc liên hệ Drake ngay để biết thêm thông tin chi tiết. Đừng bỏ
                                        qua BST cực thú vị và đậm phong cách này nhé!</span></p>
                            </div>
                            <div class="tab-pane" id="tab-review">
                                <form class="form-horizontal" id="form-review">
                                    <div id="review"></div>
                                    <h2>Đưa ra đánh giá của bạn</h2>
                                    <div class="form-group required">
                                        <div class="col-sm-12">
                                            <input type="text" name="name" value="" id="input-name" class="form-control"
                                                placeholder="Tên của bạn:">
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <div class="col-sm-12">
                                            <textarea name="text" rows="5" id="input-review" class="form-control"
                                                placeholder="Bình luận:"></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="buttons clearfix">
                                        <div class="pull-right">
                                            <button type="button" id="button-review" data-loading-text="Đang Xử lý..."
                                                class="btn btn-primary">Gửi</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            







        </div>


    </div>
</div>



