<div class="col-md-12">
  <div class="card card-container">
    <form [formGroup]="formLogin">
      <div class="form-group">
        <label for="email">email</label>
        <input
          type="text"
          class="form-control"
          name="email"
          formControlName="email"
          required
        />
        <div
          *ngIf="submitted && formLogin.controls['email'].errors?.required || formLogin.controls['email'].errors?.pattern">
          <div *ngIf="formLogin.controls['email'].errors?.required" style="color: red">
            * Tên đăng nhập không được để trống
          </div>
          <div *ngIf="formLogin.controls['email'].errors?.pattern" style="color: red">
            * Tên đăng nhập tối thiểu 4 kí tự
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="mat_khau">mat_khau</label>
        <input
          type="password"
          class="form-control"
          name="mat_khau"
          formControlName="mat_khau"
          required
          minlength="6"
        />
        <div
          *ngIf="submitted && formLogin.controls['mat_khau'].errors?.required ||  formLogin.controls['mat_khau'].errors?.pattern">
          <div *ngIf="formLogin.controls['mat_khau'].errors?.required" style="color: red">
            * Mậu khẩu không được để trống
          </div>
          <div *ngIf="formLogin.controls['mat_khau'].errors?.pattern" style="color: red">
            * Mậu khẩu tối thiểu 6 kí tự
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" (click)="Login()">
          Login
        </button>
      </div>
    </form>
    </div>
  </div>