<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WebMonitor | Login</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom Theme Style -->
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form id="sign_in" [formGroup]="formLogin"  data-toggle="validator" role="form">
                        <input type="hidden" name="csrfmiddlewaretoken" value="">
                        <h1>Login Form</h1>
                        <a routerLink="/signup" class="no-underline text-primary">Signup?</a>
                        <div class="form-group">
                            <input
                              type="text"
                              class="form-control"
                              name="email"
                              formControlName="email"
                              placeholder="Nhập email"
                              required
                            />
                            <div class="help-block with-errors" style="text-align:left;"></div>
                        </div>
                        <div class="form-group">
                            <input
                              type="password"
                              class="form-control"
                              name="mat_khau"
                              formControlName="mat_khau"
                              required
                              minlength="6"
                              placeholder="Nhập mật khẩu"
                            />
                            <div class="help-block with-errors" style="text-align:left;"></div>
                        </div>
                        <div style="text-align: center;">
                            <button type="submit" (click)="Login()" class="btn btn-default submit">Đăng nhập</button>
                            <input type="hidden" name="next" value="">
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'webping/accounts/js/validator/validator.min.js' %}"></script>
</body>
</html>