<ng-template #content let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
      <button
         type="button"
         class="close"
         aria-label="Close"
         (click)="modal.dismiss('Cross click')"
         >
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div class="row">
         <div class="col-md-12">
            <div class="form-group">
               <label for="id">Mã phiếu nhập</label>
               <input
               type="text"
               name=""
               class="form-control"
               formControlName="ma_phieu_nhap"
               id="ma_phieu_nhap"
               [(ngModel)]="update_ma_phieu_nhap"
               readonly
               />
               <div
                  *ngIf="submitted && formGroup.controls['ma_phieu_nhap'].errors?.required"
                  >
                  <div
                     *ngIf="formGroup.controls['ma_phieu_nhap'].errors?.required"
                     style="id: red"
                     >
                     * Mã phiếu nhập không được để trống
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12">
         </div>
      </div>
      <div class="form-group" [hidden]="isAdd">
               <label>Mã Nhân viên</label>
               <input
                  type="text"
                  name=""
                  class="form-control"
                  formControlName="ma_nhan_vien"
                  id="ma_nhan_vien"
                  readonly
                  />
            </div>
         <div class="form-group" [hidden]="isAdd">
               <label>Tên Nhân viên</label>
               <input
                  type="text"
                  name=""
                  class="form-control"
                  formControlName="ten_nhan_vien"
                  id="ten_nhan_vien"
                  readonly
                  />
            </div>
      <div class="row">
         <div class="col-md-12">
            <div class="form-group">
               <label>Nhà cung cấp</label>
               <select class="form-control" name="" formControlName="ma_nha_cung_cap" id="">
                  <option *ngFor="let e of danhsachnhacungcap" value="{{e.ma_nha_cung_cap}}">{{e.ten}}</option>
               </select>
               <div *ngIf="submitted && formGroup.controls['ma_nha_cung_cap'].errors?.required">
                  <div
                     *ngIf="formGroup.controls['ma_nha_cung_cap'].errors?.required"
                     style="color: red"
                     >
                     * Nhà cung cấp không được để trống
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="form-group">
               <label>Ngày nhập</label>
               <input
                  type="text"
                  name=""
                  class="form-control"
                  formControlName="ngay_nhap"
                  id="ngay_nhap"
                  readonly
                  />
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
           <div class="form-group" [hidden]="isAdd">
               <label for="tong_tien">Tổng tiền(VNĐ)</label>
               <input
                  type="text"
                  name=""
                  class="form-control"
                  value="{{ tong_tien | currency:'VND'}}"
                  formControlName="{{ tong_tien | currency:'VND'}}"
                  id="tong_tien"
                  readonly
                  />
               <div
                  *ngIf="submitted && formGroup.controls['tong_tien'].errors?.required"
                  >
                  <div
                     *ngIf="formGroup.controls['tong_tien'].errors?.required"
                     style="id: red"
                     >
                     * Tổng tiền không được để trống
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="form-group" [hidden]="isCheck">
               <label for="ghi_chu">Ghi chú</label>
               <input
                  type="text"
                  name=""
                  class="form-control"
                  formControlName="ghi_chu"
                  id="ghi_chu"
                  />
            </div>
      <div class="form-group" align="center">
         <button
         [hidden]="checkButton"
         type="submit"
         class="btn btn-success"
         style="width: 100px"
         *ngIf="isEdit || isAdd"
         >
         Lưu
         </button>
         <button
            class="btn btn-danger"
            style="width: 100px"
            (click)="modal.dismiss('Cross click')"
            >
         Thoát
         </button>
      </div>
      </form>
   </div>
</ng-template>