<div class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8"></div>

      <div class="col-md-4">
        <div class="header-right">
          <div class="user-menu">
            <ul>
              <li>
                <a routerLink="/signup"  style="cursor: pointer"
                  ><i class="fa fa-user"></i> SignUp</a
                >
              </li>
              <li>
                <a routerLink="/signin"  style="cursor: pointer"
                  ><i class="fa fa-user"></i> SignIn</a
                >
              </li>
              <li>
                <a routerLink="/admin"  style="cursor: pointer"
                  ><i class="fa fa-user"></i> Signout</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
