<ng-template #content let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
      <button
         type="button"
         class="close"
         aria-label="Close"
         (click)="modal.dismiss('Cross click')"
         >
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div class="row">
         <div class="col-md-6">
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>Mã phiếu nhập</label>
               <select class="form-control" name="" formControlName="ma_phieu_nhap" id="">
                  <option *ngFor="let e of danhsachphieunhap" value="{{e.ma_phieu_nhap}}">{{e.ma_phieu_nhap}}</option>
               </select>
               <div *ngIf="submitted && formGroup.controls['ma_phieu_nhap'].errors?.required">
                  <div
                     *ngIf="formGroup.controls['ma_phieu_nhap'].errors?.required"
                     style="color: red"
                     >
                     * Mã phiếu nhập không được để trống
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Tên sản phẩm</label>
               <select class="form-control" name="" formControlName="ma_san_pham" id="">
                  <option *ngFor="let e of danhsachsanpham" value="{{e.ma_san_pham}}">{{e.ten_san_pham}}</option>
               </select>
               <div *ngIf="submitted && formGroup.controls['ma_san_pham'].errors?.required">
                  <div
                     *ngIf="formGroup.controls['ma_san_pham'].errors?.required"
                     style="color: red"
                     >
                     * Mã sản phẩm không được để trống
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>Giá nhập</label>
               <input
                  type="text"
                  name=""
                  class="form-control"
                  formControlName="gia_nhap"
                  id="gia_nhap"
                  />
               <div
                  *ngIf="submitted && formGroup.controls['gia_nhap'].errors?.required"
                  >
                  <div
                     *ngIf="formGroup.controls['gia_nhap'].errors?.required"
                     style="color: red"
                     >
                     * Giá nhập không được để trống
                  </div>
               </div>
            </div>
         </div>
      </div>
       <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Size</label>
               <select class="form-control" name="" formControlName="size" id="">
                  <option *ngFor="let e of arrbysize" value="{{e.loai_dac_trung}}">{{e.mo_ta}}</option>
               </select>
               <div *ngIf="submitted && formGroup.controls['size'].errors?.required">
                  <div
                     *ngIf="formGroup.controls['size'].errors?.required"
                     style="color: red"
                     >
                     * Size không được để trống
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>Màu</label>
               <select class="form-control" name="" formControlName="mau" id="">
                  <option *ngFor="let e of arrbymau" value="{{e.loai_dac_trung}}">{{e.mo_ta}}</option>
               </select>
               <div *ngIf="submitted && formGroup.controls['mau'].errors?.required">
                  <div
                     *ngIf="formGroup.controls['mau'].errors?.required"
                     style="color: red"
                     >
                     * Màu không được để trống
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Số lượng</label>
               <input
                  type="text"
                  name=""
                  class="form-control"
                  formControlName="so_luong"
                  id="so_luong"
                  />
               <div
                  *ngIf="submitted && formGroup.controls['so_luong'].errors?.required"
                  >
                  <div
                     *ngIf="formGroup.controls['so_luong'].errors?.required"
                     style="color: red"
                     >
                     * Số lượng không được để trống
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="form-group" align="center">
         <button
         [hidden]="checkButton"
         type="submit"
         class="btn btn-success"
         style="width: 100px"
         *ngIf="isEdit || isAdd"
         >
         Lưu
         </button>
         <button
            class="btn btn-danger"
            style="width: 100px"
            (click)="modal.dismiss('Cross click')"
            >
         Thoát
         </button>
      </div>
      </form>
   </div>
</ng-template>