body {
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
  color: #FF5733;
  background: #F7F7F7;
}

a.hiddenanchor {
  display: none;
}

a, a:visited, a:focus, a:active, :visited, :focus, :active, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: 0;
}

.login {
  background: #F7F7F7;
}

.login_content {
  padding: 0;
  text-align: left;
  margin: 0 auto;
  position: relative;
  text-shadow: 0 1px 0 #fff;
  min-width: 280px;
}

.login_content form {
  margin: 20px 0;
  position: relative;
}

.login_content h1 {
  font: normal 25px Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
  line-height: 20px;
  margin: 10px 0 30px;
}

.login_content a, .login_content .btn-default:hover {
  text-decoration: none;
}

.login_wrapper {
  max-width: 400px;
  right: 0px;
  margin: 0px auto;
  margin-top: 5%;
  position: relative;
}

.login_form {
  padding: 25px;
  z-index: 22;
  height: 100%;
}

.registration_form, .login_form {
  position: absolute;
  top: 0px;
  width: 100%;
}

.login_form .login_content form .row .col-md-3 {
  float: right;
}

.login_form .login_content form .row .col-md-3 .btn-default {
  border-color: #FF5733;
}

.img-responsive {
  width: 30%;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  /* .login {
      background-color: #2a3f54;
  } */

  .login_form {
      border: 1px solid #f7f7f7;
      height: 600px;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
      background-color: #f7f7f7;
  }
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.btn-default {
  color: #fff;
  background-color: #ff5733;
  border-color: #ccc;
}

.help-block {
  display: block;
  margin-bottom: 20px;
  color: #ce0014;
}   

.login_content form input[type=text], .login_content form input[type=email], .login_content form input[type=password] {
  margin: 0;
  border-radius: 2px;
  box-shadow: 0 1px 0 #fff, 0 -1px 0px rgba(0,0,0,0.08) inset;
  border: 1px solid #c8c8c8;
  color: #212529;
  width: 100%;
}

.login_content h1::before, .login_content h1::after {
  content: none;
}

animate {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -o-animation-duration: 0.5s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;
  -ms-animation-duration: 0.5s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.form-group {
  margin-bottom: 10px;
}

.btn {
  border-radius: 3px;
}

button, .buttons, .btn, .modal-footer .btn+.btn {
  margin-bottom: 5px;
  margin-right: 5px;
}

.btn-google{
  background-color: #ff1d04;
  color: #fff;
  font-size: small;
  width: 70%;
  
}

.btn-facebook{
  background-color: #3b5998;
  color: #fff;
  font-size: small;
  width: 70%;
}

.sep{
  border: 1px solid #72B372;
  position: relative;
  margin : 35px 20px;
}

.or {
  position: absolute;
  width: 50px;
  left: 50%;
  background: #F0F0F0;
  text-align: center;
  margin: -10px 0 0 -25px;
  line-height: 20px;
} 

.connect {
  width: 400px;
  margin: 0 -28px;
  text-align: center;
}

.social-buttons {
  display: inline-block;
  min-width: 140px;
  height: 40px;
  margin: 0 5px 10px;
  border-radius: 3px;
  text-shadow: 1px 1px 5px #000000;
}

.facebook{
  background-color: #1877f2;

}

.facebook:hover{
  background-color: rgb(69, 116, 245);
}

.facebook:active {
  background-color: rgb(12, 56, 177);
}

.google{
  background-color: rgb(201, 51, 51);
}

.google:hover{
  background-color:  rgb(224, 64, 64);
}

.google:active{
  background-color:  rgb(216, 8, 8);
}

.social-buttons a{
  display: block;
height: 100%;
text-decoration: none;
  color: #FFFFFF;
  border-radius : -4px;
  padding: 3px 15px;
}

.social-buttons span{
  font-size: 25px;
}

button.btn.btn-default.submit:hover{
  background-color: red;
  color:white
}