<div class="container" style="margin-bottom: 150px">
  <div class="title-news">
    <h2>Tin tức - Sự kiện</h2>
    <p>
      Cập nhập thông tin mới nhất về quản lý hiệu quả công việc và đo lường hiệu
      suất
    </p>
  </div>

  <div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="latest-product">
            <div class="product-carousel">
              <div *ngFor="let item of danhsachtintuc" class="single-product">
                <div class="product-f-image">
                  <img src="{{ item.thumbnail }}" alt="" />
                  <p>{{ item.ngay_dang }}</p>
                  <a href="{{ item.url }}">
                    <h4>
                      {{ item.tieu_de }}
                    </h4>
                  </a>
                  <a class="btn-view-more" href="{{ item.url }}"> Xem thêm </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End main content area -->
</div>
