<ng-template #content let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
      <button
         type="button"
         class="close"
         aria-label="Close"
         (click)="modal.dismiss('Cross click')"
         >
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="id">Mã hóa đơn</label>
               <input
               type="text"
               name=""
               class="form-control"
               formControlName="ma_hoa_don"
               id="ma_hoa_don"
               [(ngModel)]="update_ma_hoa_don"
               readonly
               />
            </div>
         </div>
         <div class="col-md-6">
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Email khách hàng</label>
               <select class="form-control" name="" formControlName="ma_khach_hang" id="">
                  <option *ngFor="let e of arrbyKH" value="{{e.ma_tai_khoan}}">{{e.email}}</option>
               </select>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>Ngày lập</label>
               <input
                  type="text"
                  name=""
                  class="form-control"
                  formControlName="ngay_lap"
                  id="ngay_lap"
                  readonly
                  />
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="loai_don">Loại đơn</label>
               <input
                  type="text"
                  name=""
                  class="form-control"
                  formControlName="loai_don"
                  id="loai_don"
                  readonly
                  />
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="trang_thai">Trạng thái</label>
               <input
                  type="text"
                  name=""
                  class="form-control"
                  formControlName="trang_thai"
                  id="trang_thai"
                  readonly
                  />
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="tong_tien">Tổng tiền</label>
               <input
                  type="text"
                  name=""
                  class="form-control"
                  formControlName="tong_tien"
                  id="tong_tien"
                  readonly
                  />
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="thanh_tien">Thành tiền</label>
               <input
                  type="text"
                  name=""
                  class="form-control"
                  formControlName="thanh_tien"
                  id="thanh_tien"
                  readonly
                  />
            </div>
         </div>
      </div>
      <div class="form-group" align="center">
         <button
         [hidden]="checkButton"
         type="submit"
         class="btn btn-success"
         style="width: 100px"
         *ngIf="isEdit || isAdd"
         >
         Lưu
         </button>
         <button
            class="btn btn-danger"
            style="width: 100px"
            (click)="modal.dismiss('Cross click')"
            >
         Thoát
         </button>
      </div>
      </form>
   </div>
</ng-template>
