<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" novalidate (ngSubmit)="save()">
     <div class="form-group">
        <label for="muc_voucher">Mức voucher(%)</label>
        <input
          type="number"
          min="0"
          max="100"
          name=""
          class="form-control"
          formControlName="muc_voucher"
          id="muc_voucher"
        />
        <div *ngIf="submitted && formGroup.controls['muc_voucher'].errors?.required">
          <div
            *ngIf="formGroup.controls['muc_voucher'].errors?.required"
            style="color: red"
          >
            * Mức voicher không được để trống
          </div>
        </div>

        
      </div>

      <div class="form-group">
               <label>Email khách hàng</label>
               <select class="form-control" name="" formControlName="ma_khach_hang" id="">
                  <option *ngFor="let e of arrbyKH" value="{{e.ma_tai_khoan}}">{{e.email}}</option>
               </select>
               <div *ngIf="submitted && formGroup.controls['ma_khach_hang'].errors?.required">
                  <div
                     *ngIf="formGroup.controls['ma_khach_hang'].errors?.required"
                     style="color: red"
                     >
                     * Email khách hàng không được để trống
                  </div>
               </div>
            </div>
      <div class="form-group" align="center">
        <button
          [hidden]="checkButton"
          type="submit"
          class="btn btn-success"
          style="width: 100px"
          *ngIf="isEdit || isAdd"
        >
          Lưu
        </button>
        <button
          class="btn btn-danger"
          style="width: 100px"
          (click)="modal.dismiss('Cross click')"
        >
          Thoát
        </button>
      </div>
     
     
    </form>
  </div>
</ng-template>